%header
  %h1 Wikibox
  %nav
    %strong= @user.email
    %a{:href => "/settings"} settings
    %a{:href => "/logout"} log out
= if flash[:error]
  %div.error= flash[:error]
= if flash[:info]
  %div.info= flash[:info]
