!!! 5
%html{:lang => "en"}
  %head
    %title Wikibox
    = haml :head
  %body
    = haml :header
    %nav
      %ul
        = for page in @pages
          %li
            %a{:href => "/pages/#{page}"}= page
    %article
      %header
        %h1= @cur_page[:name]
        %a{:href => "/pages/#{@cur_page[:name]}/delete"} delete
      = @cur_page['text'] or "This page doesn't exist yet."
    %form{:method => "post", :action => ""}
      %textarea{:name => "text"}= @cur_page['text']
      %button{:type => "submit"} Save
