!!! 5
%html{:lang => "en"}
  %head
    %title Wikibox
    = haml :head
  %body#page
    = haml :header
    #wrapper
      %nav
        %ul
          - for page in @pages
            %li
              %a{:href => "/pages/#{page}", :class => ("active" if page == @cur_page[:name])}= page
          %li
            %input{:type => "text", :placeholder => "Create a new file"}
      %article
        %header
          %h1= @cur_page[:name]
          %a{:href => "/pages/#{@cur_page[:name]}/delete"} delete
        %section#body= wikify(@cur_page)
        %form{:method => "post", :action => ""}
          %textarea{:name => "text"}= @cur_page[:text]
          %button{:type => "submit"} Save
    = haml :js